<CENTER>

<H2>Admin Dashboard</H2>

<TABLE ID="bodyTable" WIDTH="90%"><TR><TD VALIGN="top" WIDTH="50%">

<!-- lists out items on the left column -->
<DIV ID="itemList"></DIV>

</TD>
<TD VALIGN="top" WIDTH="50%"><CENTER>

<!-- add item form; 1 of 2 forms; add embed form is below this -->
<H4>add item</H4>

<FORM NAME="itemForm" ID="itemForm" ACTION="/admin/items/add" METHOD="post">
<TABLE BORDER=0 CLASS="formTable">
<TR>
<TD ALIGN="right">type of item</TD>
<TD><SELECT NAME="itemType" ID="itemType">
<% if (itemTypeList !== null) { for (var i=0; i<itemTypeList.length; i++) { %>
<OPTION VALUE="<%= itemTypeList[i] %>"><%= itemTypeList[i] %></OPTION>
<% } } else { %>
<OPTION></OPTION> <% } %>
</SELECT></TD>
</TR>
<TR><TD ALIGN="right">name</TD><TD><INPUT TYPE="text" NAME="itemName" ID="itemName" CLASS="ui-widget-content ui-corner-all" onBlur="validateName($('#itemName'),'Item');" /></TD></TR>
<TR><TD ALIGN="right">description</TD><TD><INPUT TYPE="text" NAME="itemDesc" ID="itemDesc" CLASS="ui-widget-content ui-corner-all" /></TD></TR>
<TR><TD ALIGN="right">cost</TD><TD><INPUT TYPE="text" NAME="itemCost" ID="itemCost" PLACEHOLDER=" no $, just x.xx" CLASS="ui-widget-content ui-corner-all" onBlur="validateNum($('#itemCost'));" /></TD></TR>
<TR><TD ALIGN="right">calories</TD><TD><INPUT TYPE="text" NAME="itemCalories" ID="itemCalories" CLASS="ui-widget-content ui-corner-all" onBlur="validateNum($('#itemCalories'));" /></TD></TR>
<TR><TD></TD><TD><BR /><BUTTON CLASS="formTable ui-widget-content ui-corner-all" TYPE="submit" ID="addItem">submit</BUTTON></TD></TR>
</TABLE>
</FORM>

<SPAN><SPAN ID="addItemStatus" CLASS="infoMsg ui-widget-content ui-corner-all" STYLE="display: none;"></SPAN>&nbsp; </SPAN>

<HR NOSHADE SIZE=1>

<!-- add embed form; 2 of 2 forms; add item form is above this -->
<H4>add embed</H4>

<FORM NAME="embedForm" ID="embedForm" ACTION="/admin/items/addEmbed" METHOD="post">
<TABLE BORDER=0 CLASS="formTable">
<TR>
<TD ALIGN="right">belongs to</TD>
<TD><SELECT NAME="embedList" ID="embedList">
<% for (var i=0; i<items.length; i++) { %>
<OPTION VALUE="<%= items[i]._id %>"><%= items[i].itemName %></OPTION>
<% } %>
</SELECT></TD>
</TR>
<TR><TD ALIGN="right">name</TD><TD><INPUT TYPE="text" NAME="embedName" ID="embedName" CLASS="ui-widget-content ui-corner-all" onBlur="validateName($('#embedName'),'Embed');" /></TD></TR>
<TR><TD ALIGN="right">description</TD><TD><INPUT TYPE="text" NAME="embedDesc" ID="embedDesc" CLASS="ui-widget-content ui-corner-all" /></TD></TR>
<TR><TD ALIGN="right">cost</TD><TD><INPUT TYPE="text" NAME="embedCost" ID="embedCost" CLASS="ui-widget-content ui-corner-all" PLACEHOLDER=" no $, just x.xx" onBlur="validateNum($('#embedCost'));" /></TD></TR>
<TR><TD></TD><TD><BR /><BUTTON CLASS="formTable ui-widget-content ui-corner-all" TYPE="submit" NAME="addEmbed" ID="addEmbed" STYLE="align:left;">submit</BUTTON></TD></TR>
</TABLE>

</FORM>

<SPAN><SPAN ID="addEmbedStatus" CLASS="infoMsg ui-widget-content ui-corner-all" STYLE="display: none;"></SPAN>&nbsp; </SPAN>

</CENTER></TD>
</TR></TABLE> <!-- /bodyTable -->

<script type="text/javascript">

var addItemStatus = $("#addItemStatus");
var addEmbedStatus = $("#addEmbedStatus");
var updated = $("#updated");
var itemList = $("#itemList");
var textBoxes = $("input[name='itemName'], input[name='itemCalories'], input[name='itemCost'], input[name='itemDesc'], input[name='embedName'], input[name='embedCost'], input[name='embedDesc'], textarea");

// TODO: change validation to on submit instead of using field.focus()?

// is name blank?
var validateName = function(field, formType) {
    if(field.val() !== "") {
        field.css('background', 'green');
    }
    else {
        field.focus();
        $("add" + formType + "Status").html("You cannot leave the name field blank.").fadeToggle(300).delay(3000).fadeToggle(300);
        field.css('background', 'red');
    }
}

// is this a legit number or dollar/decimal amount?
var validateNum = function(field) {
    var numericExpression = /^[ ,.,0-9]+$/;
    if(field.val().match(numericExpression) || (field.val() == "")){
        field.css('background', 'green');
    }
    else {
        field.focus();
        addItemStatus.html("You didn't enter a number!").fadeToggle(300).delay(3000).fadeToggle(300);
        field.css('background', 'red');
    }
}

$(function() {
    itemList.load('/admin/list'); // refreshes left list
	<% for (var i=0; i<items.length; i++) { %>
	$("#itemLink<%= i %>").click(function() {
		if ($("#itemLink<%= i %>").html() == "edit") {
			$("#itemLink<%= i %>").html("hide");
			$("#itemContents<%= i %>").load("/admin/items/<%= items[i]._id %>/edit");
            $("#embedContents<%= i %>").load("/admin/embeds/<%= items[i]._id %>/edit");
        }
		else {
			$("#itemLink<%= i %>").html("edit");
			$("#item<%= i %>").css("border-width", "0px");
		}
		$("#itemContents<%= i %>").toggle();
        $("#embedContents<%= i %>").toggle();
	});
	<% } %>

    $('#addItem').click(function(e) {
        var formData = $('#itemForm').serialize();
        $.ajax({
            url: "/admin/items/add",
            type: "POST",
            data: formData,
            dataType: "json",
            success: function(response) {
                if (response.status === "OK") {
                    // TODO: append instead of load
                    itemList.load('/admin/list'); // refreshes left list
                    $("#addItemStatus").html(response.msg).fadeToggle(300).delay(3000).fadeToggle(300);
                    textBoxes.val('');
                    $("input").css('background','white');
                    // TODO: append instead of load
                    $("#embedMenuList").load('/admin/belongs'); // updates embed "belongs to" list to reflect changes
                }
                else {
                    addItemStatus.html("There was an error adding the item.").fadeToggle(300).delay(3000).fadeToggle(300);
                }
            }, 
            error : function(error) {
                console.log("There was an error updating the item.");
                console.log(error);
                addItemStatus.html("There was an error adding the item.").fadeToggle(300).delay(3000).fadeToggle(300);
            }
        });
        e.preventDefault();
        return false;
    });
    // TODO: embed code for embedded docs not working yet but will look similar to code for adding items
    $("#addEmbed").click(function(e) {
        $.ajax({
            url : '/admin/items/addEmbed',
            type : 'POST',
            data : $("#embedForm").serialize(), 
            dataType : 'json',
            
            success : function(response) {
                if (response.status == "OK") {
                    addEmbedStatus.html(response.msg).fadeToggle(300).delay(3000).fadeToggle(300);
                    //clear the form
                    textBoxes.val('');
                    $("input").css('background','white');
                    // TODO: append instead of load
                    itemList.load('/admin/list'); // refreshes left list
                }
                else {
                    addEmbedStatus.html("There was a partial error adding the embed.").fadeToggle(300).delay(3000).fadeToggle(300);
                }
            }, 
            error : function(error) {
                console.log("There was an error");
                console.log(error);
                addEmbedStatus.html("There was an error adding the embed.").fadeToggle(300).delay(3000).fadeToggle(300);
            }
            
        });
        e.preventDefault();
        return false;
    });

    // TODO: editing code does not really exist yet, should open div when "edit" is clicked so you can then edit the item and submit it
    $('.editItem').live('click', function(e) {
        var idToEdit = $(this).attr('title');
        $('#itemContents' + idToEdit).toggle();
        if ($(this).html() === "edit") {
            $(this).html("hide");
            $("#itemContents<%= idToEdit %>").load("/admin/items/<%= idToEdit %>/edit");
            $("#embedContents<%= idToEdit %>").load("/admin/embeds/<%= idToEdit %>/edit");
        }
        else {
            $(this).html("edit");
        }
        e.preventDefault();
        return false;
    });
    $('.deleteItem').live('click', function(e) {
        var idToDelete = $(this).attr('title');
        var formData = {
            itemID : idToDelete
        }
        $.ajax({
            url: "/admin/items/delete",
            type: "POST",
            data: formData,
            dataType: "json",
            success: function(response) {
                if (response.status === "OK") {
                    // TODO: remove instead of load
                    $("#bullet" + idToDelete).html(response.msg).delay(3000).remove();
                    alert("test msg then remove");
                    //$("#embedMenuList").load('/admin/belongs'); // updates embed "belongs to" list to reflect changes
                }
                else {
                    console.log("There was a partial error deleting the item.");
                }
            }, 
            error : function(error) {
                console.log("There was an error deleting the item.");
                console.log(error);
            }
        });
        e.preventDefault();
        return false;
    });

    $('.deleteEmbed').live('click', function(e) {
        var idToDelete = $(this).attr('title');
        var formData = {
            embedID : idToDelete
        }
        $.ajax({
            url: "/admin/items/deleteEmbed",
            type: "POST",
            data: formData,
            dataType: "json",
            success: function(response) {
                if (response.status === "OK") {
                    $("#bulletEmbed" + idToDelete).html(response.msg);
                }
                else {
                    console.log("There was a partial error deleting the embed.");
                }
            }, 
            error : function(error) {
                console.log("There was an error deleting the embed.");
                console.log(error);
            }
        });
        e.preventDefault();
        return false;
    });
    
    // TODO: update code not functioning yet, should send form via AJAX and update record in db
    $('#updateItem').live('click', function(e) {
        formData = $('#singleItemForm').serialize();
        $.ajax({
            url: "/admin/items/update",
            type: "POST",
            data: formData,
            dataType: "json",
            success: function(response) {
                if (response.status === "OK") {
                    updated.fadeToggle(300).html(response.msg).delay(3000).fadeToggle(300);
                }
                else {
                    updated.fadeToggle(300).html("There was a partial error updating the item.").delay(3000).fadeToggle(300);
                }
            }, 
            error : function(error) {
                console.log("There was an error updating the item.");
                console.log(error);
                updated.fadeToggle(300).html("There was an error updating the item.").delay(3000).fadeToggle(300);
            }
        });
        e.preventDefault();
        return false;
    });
    <% for (var i=0; i<items.embeds.length; i++) { %>
    $('#updateEmbed<%= items.embeds[i]._id %>').live('click', function(e) {
        formData = $('#embedForm<%= items.embeds[i]._id %>').serialize();
        $.ajax({
            url: "/admin/items/updateEmbed",
            type: "POST",
            data: formData,
            dataType: "json",
            success: function(response) {
                if (response.status == "OK") {
                    $("#updated<%= items.embeds[i]._id %>").html(response.msg);
                    $("#updated<%= items.embeds[i]._id %>").fadeToggle(300).delay(3000).fadeToggle(300);
                }
                else {
                    $("#updated<%= items.embeds[i]._id %>").html("There was a partial error updating the embed.");
                }
            }, 
            error : function(error) {
                console.log("There was an error updating the embed.");
                console.log(error);
                $("#updated<%= items.embeds[i]._id %>").html("There was an error updating the embed.");
            }
        });
        e.preventDefault();
        return false;
    });
    <% } %>
});

</SCRIPT>