<!-- comment out the below to stop unit tests -->
<!-- BEGIN unit tests -->
<!--
 <h1 id="qunit-header">QUnit example</h1>
 <h2 id="qunit-banner"></h2>
 <div id="qunit-testrunner-toolbar"></div>
 <h2 id="qunit-userAgent"></h2>
 <ol id="qunit-tests"></ol>
 <div id="qunit-fixture">test markup, will be hidden</div>
-->
<!-- END unit tests -->

<CENTER>

<H2>Admin Dashboard</H2>

<TABLE ID="bodyTable" WIDTH="90%"><TR><TD VALIGN="top" WIDTH="50%">

<!-- lists out items on the left column -->
<DIV ID="itemList"></DIV>

</TD>
<TD VALIGN="top" WIDTH="50%"><CENTER>

<!-- add item form; 1 of 2 forms; add embed form is below this -->
<H4>add item</H4>

<FORM NAME="itemForm" ID="itemForm" ACTION="/admin/items/add" METHOD="post">
<TABLE BORDER=0 CLASS="formTable">
<TR>
<TD ALIGN="right">type of item</TD>
<TD><SELECT NAME="itemType" ID="itemType">
<% if (itemTypeList !== null) { for (var i=0; i<itemTypeList.length; i++) { %><OPTION VALUE="<%= itemTypeList[i] %>"><%= itemTypeList[i] %></OPTION><% } } else { %><OPTION></OPTION><% } %>
</SELECT></TD>
</TR>
<TR><TD ALIGN="right">name</TD><TD><INPUT TYPE="text" NAME="itemName" ID="itemName" CLASS="ui-widget-content ui-corner-all" onBlur="validateName($('#itemName'),'Item');" REQUIRED /></TD></TR>
<TR><TD ALIGN="right">description</TD><TD><INPUT TYPE="text" NAME="itemDesc" ID="itemDesc" CLASS="ui-widget-content ui-corner-all" /></TD></TR>
<TR><TD ALIGN="right">cost</TD><TD><INPUT TYPE="text" NAME="itemCost" ID="itemCost" PLACEHOLDER=" no $, just x.xx" CLASS="ui-widget-content ui-corner-all" onBlur="validateNum($('#itemCost'));" /></TD></TR>
<TR><TD ALIGN="right">calories</TD><TD><INPUT TYPE="text" NAME="itemCalories" ID="itemCalories" CLASS="ui-widget-content ui-corner-all" onBlur="validateNum($('#itemCalories'));" /></TD></TR>
<TR><TD></TD><TD><BR /><BUTTON CLASS="formTable ui-widget-content ui-corner-all" TYPE="submit" ID="addItem">add</BUTTON></TD></TR>
</TABLE>
</FORM>
<BR />
<SPAN><SPAN ID="addItemStatus" CLASS="infoMsg ui-widget-content ui-corner-all" STYLE="display: none;"></SPAN>&nbsp; </SPAN>
<BR />

<HR NOSHADE SIZE=1>

<!-- add embed form; 2 of 2 forms; add item form is above this -->
<H4>add embed</H4>

<FORM NAME="embedForm" ID="embedForm" ACTION="/admin/items/addEmbed" METHOD="post">
<TABLE BORDER=0 CLASS="formTable">
<TR>
<TD ALIGN="right">belongs to</TD>
<TD><SELECT NAME="embedList" ID="embedList" REQUIRED>
	<OPTION ID="embedListFiller" VALUE="">[choose:]</OPTION>
<% for (var i=0; i<items.length; i++) { %><OPTION ID="belongsTo_<%= items[i].id %>" VALUE="<%= items[i]._id %>"><%= items[i].itemName %></OPTION>
<% } %>
</SELECT></TD>
</TR>
<TR><TD ALIGN="right">name</TD><TD><INPUT TYPE="text" NAME="embedName" ID="embedName" CLASS="ui-widget-content ui-corner-all" onBlur="validateName($('#embedName'),'Embed');" REQUIRED /></TD></TR>
<TR><TD ALIGN="right">description</TD><TD><INPUT TYPE="text" NAME="embedDesc" ID="embedDesc" CLASS="ui-widget-content ui-corner-all" /></TD></TR>
<TR><TD ALIGN="right">cost</TD><TD><INPUT TYPE="text" NAME="embedCost" ID="embedCost" CLASS="ui-widget-content ui-corner-all" PLACEHOLDER=" no $, just x.xx" onBlur="validateNum($('#embedCost'));" /></TD></TR>
<TR><TD></TD><TD><BR /><BUTTON CLASS="formTable ui-widget-content ui-corner-all" TYPE="submit" NAME="addEmbed" ID="addEmbed" STYLE="align:left;">add</BUTTON></TD></TR>
</TABLE>

</FORM>
<BR />
<DIV><SPAN ID="addEmbedStatus" CLASS="infoMsg ui-widget-content ui-corner-all" STYLE="display: none;"></SPAN>&nbsp; </DIV>
<BR />

</CENTER></TD>
</TR></TABLE> <!-- /bodyTable -->

<!-- DIV confirms successful AJAX post msg -->
<DIV ID="singleItemStatus" CLASS="infoMsg ui-widget-content ui-corner-all" STYLE="display: none;"></DIV><BR />

<div id="dialog-confirm" title="Are you sure you want to delete this?" style="display: none;">
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This embed will be permanently deleted and cannot be recovered. Are you sure?
</div>

<SCRIPT TYPE="text/javascript" SRC="js/admin.js"></SCRIPT>