<!DOCTYPE html>
<HTML>
<HEAD>
<TITLE><% if (typeof pageTitle != "undefined") { %><%= pageTitle %><% } else { %>Vanilla Node<% } %></TITLE>
<LINK HREF='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css' />
<LINK HREF='/css/main.css' REL='stylesheet' TYPE='text/css' />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<LINK HREF="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/humanity/jquery-ui.css" REL='stylesheet' TYPE='text/css' />
<SCRIPT TYPE="text/javascript" SRC="http://documentcloud.github.com/underscore/underscore-min.js"></SCRIPT>
<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></SCRIPT>
<SCRIPT TYPE="text/javascript" SRC="/js/keymaster.min.js"></SCRIPT>

<!--  UNIT TESTS
			comment out the below to ignore unit tests, also see:
		 	admin_dashboard.html :: comment out qunit HTML elements
		 	admin.js :: comment out unitTests() call at eof
			
			http://docs.jquery.com/QUnit
-->

<!-- BEGIN unit tests -->
<!--
<link rel="stylesheet" href="http://code.jquery.com/qunit/git/qunit.css" type="text/css" media="screen" />
<script type="text/javascript" src="http://code.jquery.com/qunit/git/qunit.js"></script>
<script type="text/javascript" src="../js/sinon.js"></script>
<script type="text/javascript" src="../js/sinon-qunit.js"></script>
<script type="text/javascript" src="../js/tests.js"></SCRIPT>
-->
<!-- END unit tests -->

</HEAD>

<BODY>

<DIV ID="header"><TABLE BORDER=0 WIDTH="100%" ID="pageTable"><TR>
<TD ID="headerTitle" ALIGN="left">Vanilla Node!</TD>
<TD ID="headerNav" ALIGN="center">[ <A HREF="/dashboard">public dashboard</A> | <A HREF="/admin">admin dashboard</A> ]</TD>
<TD ID="headerUser" ALIGN="right">Username [ <A HREF="">account</A> | <A HREF="">logout</A> ]</TD>
</TR></TABLE></DIV>

<DIV ID="bodyContainer"><%- body %></DIV>

<DIV ID="footer"><CENTER>[ <A HREF="/about">about</A> ]</DIV>
</BODY>
</HTML>