/* http://www.colourlovers.com/palette/45488/french_vanilla */
HTML, BODY, INPUT, BUTTON, SELECT, OPTION { font-family: 'Patua One', cursive; }
HTML, BODY { background: #5F3711; color: white; padding: 0px; margin: 0px; }
H1, H2, H3, H4 { color: #F3E5AB; }
INPUT[type=submit], BUTTON[type=submit] { background: #D4C098; }
P { font-size: 20pt; text-align: justify;}
#header, #footer { background: #026873; color: #F2F0CE; }
.login, .login TD { font-size: 30pt; }
.header { color: #F2F0CE; font-weight: bold;}
.infoMsg { background: yellow !important; color: black; padding: 5px; }
.formTable, .formTable TD, .formTable TD INPUT, .formTable TD SELECT, #bodyTable { font-size: 20pt;}
A { color: #F6F6E2; }
A:visited { color: #E2D5C1; }
A:hover { color: white; }
.modifyItem { font-size: 8pt; vertical-align: middle; }